<app-tabla-comuna [tabla]="tabla" (returnUpdate)="returnComunaUpdate($event)" (returnDelete)=" returnComunaDelete($event)"></app-tabla-comuna>

<div id="add-item" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" (click)="limpiarModal()" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title " id="myModalLabel ">Nueva Comuna</h4>
            </div>
            <form class="floating-labels m-t-40 " autocomplete="off " (ngSubmit)="saveComuna(forma)" #forma="ngForm">
                <div class="modal-body ">
                    <div *ngIf="comuna.comunaId !=0 " class="form-group m-b-40 focused ">
                        <input [ngModel]="comuna.comunaId " name="idComuna" #idComuna="ngModel" required type="text" class="form-control" disabled id="idComuna">
                        <span class="bar"></span>
                        <label for="idComuna ">Id Comuna</label>
                    </div>
                    <div [class.focused]="comuna.comunaId !=0 " class="form-group m-b-40 ">
                        <input [ngModel]="comuna.nombre" name="nombre" #nombre="ngModel" required type="text" class="form-control" id="nombreComuna">
                        <span class="bar"></span>
                        <label for="nombreComuna">Nombre Comuna</label>
                    </div>
                    <div [class.focused]="comuna.comunaId !=0" class="form-group m-b-40 ">
                        <select class="form-control p-0" [ngModel]="comuna.regionId" name="region" #region="ngModel" required id="region">
                            <option *ngFor="let item of tabla.regiones " [value] = "item.regionId">{{ item.nombre }}</option>
                        </select><span class="bar"></span>
                        <label for="region">Región</label>
                    </div>

                </div>
                <div class="modal-footer ">
                    <button type="submit" class="btn btn-outline-info waves-effect ">Guardar</button>
                    <button type="button" (click)="limpiarModal()" class="btn btn-outline-default waves-effect" id="closeModal" data-dismiss="modal">Cancelar</button>
                </div>
            </form>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>